<!DOCTYPE html>
<html>
  <head>
    <title>Boditore</title>
  </head>
  <body>
    <h1>Boditore</h1>
    <p>さあ、大筋肉時代の幕開けだ。</p>
    <p>ここは、あらゆる理想を掲げるトレーニーが集う場所。<br>
努力を続けたものだけが理想のカラダを手にすることができる。<br>
初心者でも大丈夫。筋肉の伝道者がキミを導くだろう。<br>
プロテインの準備は整ったら、いざ出発の時だ。<br>
    </p>
  </body>
</html>