<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <div class="center jumbotron">
  <h1>さあ、大筋肉時代の幕開けだ。</h1>
  <h2>
    ここは、あらゆる理想を掲げるトレーニーが集う場所。<br>
    努力を続けたものだけが理想のカラダを手にすることができる。<br>
    初心者でも大丈夫。筋肉の伝道者がキミを導くだろう。<br>
    プロテインの準備が整ったら、いざ出発の時だ。<br>
  </h2>
</div>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <div class="center jumbotron">
  <h1>筋肉は、裏切らない。</h1>
  <h2>
    あなたは今、新たな一歩を踏み出そうとしている。<br>
    理想のカラダ、健康、理由は様々かもしれない。<br>
    しかし、努力を続けられたなら必ず結果は手に入る。<br>
    そう、筋肉は決して裏切らないのだ。<br>
  </h2>
</div>
<% end %>
<%= link_to "質問をする", new_post_q_path, class: "Home_btn Home_btn1" %>
<%= link_to "投稿をする",  new_post_p_path, class: "Home_btn Home_btn2" %>

<div class="content">
    <span> Boditoreの3つの特長</span>
        <ul class="content-test">
          <li>1.現役トレーニーの情報が手に入る</li>


          <li>2.自分の情報を共有できる</li>
            <p>
            自分のトレーニングの成果を上げられる<br>
            鍛え上げてきた筋肉を世に知らしめるチャンスだ
            </p>
          <li>3.マッスルメイトができる</li>
            <p>
            お互いに筋肉を共有しあったら
            もうすでに筋肉仲間になっている
            そう、マッスルメイトだ！
            </p>