<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <div class="center jumbotron">
  <h1>さあ、大筋肉時代の幕開けだ。</h1>
  <h2>
    ここは、あらゆる理想を掲げるトレーニーが集う場所。<br>
    努力を続けたものだけが理想のカラダを手にすることができる。<br>
    初心者でも大丈夫。筋肉の伝道者がキミを導くだろう。<br>
    プロテインの準備が整ったら、いざ出発の時だ。<br>
  </h2>
</div>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <div class="center jumbotron">
  <h1>筋肉は、裏切らない。</h1>
  <h2>
    あなたは今、新たな一歩を踏み出そうとしている。<br>
    理想のカラダ、健康、理由は様々かもしれない。<br>
    しかし、努力を続けられたなら必ず結果は手に入る。<br>
    そう、筋肉は決して裏切らないのだ。<br>
  </h2>
</div>
<% end %>
<%= link_to "質問をする", '#', class: "Home_btn Home_btn1" %>
<%= link_to "投稿をする",  '#', class: "Home_btn Home_btn2" %>

<div class="content">
    <span> Boditoreの3つの特長</span>
        <ul class="content-test">
          <li>1.海外でも安心</li>
            .Merit__Content
              現地をよく知っている日本人が対応するので、日本語が通じない海外でも安心して旅行できます。
          <li>1.海外でも安心</li>
              = "リーズナブル"
            .Merit__Content
              旅行会社を介さず個人と直接契約するので、比較的リーズナブルな価格で利用できます。
          <li>1.海外でも安心</li>
              = "リーズナブル"
            .Merit__Content
              旅行会社を介さず個人と直接契約するので、比較的リーズナブルな価格で利用できます。