  <div class="common_wrapper">
<div id="main">

    <v-form>
        <v-container>
          <v-row class="post__search">
            <v-col
            >
        <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
        <v-text-field
                    type="text"
                    class="mt-0"
                    solo
                    label="検索キーワードを入力してください"
                    rows="1"
                    value=""
                    placeholder="大胸筋"
                  >
          <% f.text_field :title %>
          </v-text-field>
            </v-col>
          <v-btn class="post__search__button"> 
          <%= f.submit :検索 %>
          </v-btn>
        <% end %>
        </v-row>
    </v-container>
  </v-form>
      
        
  <contents></contents>
  <navbar></navbar>
  </div>
</div>

<%= javascript_pack_tag 'main' %>
