<div class="notifications">
  <h1>新規投稿</h1>
  <%= form_tag("/posts/create") do %>
    <h1><textarea name="content"></textarea></h1><br>
    <h1><input class="sysNextSubmit" type="submit" value="投稿"></h1>
  <% end %>
  <p><%= link_to"投稿一覧", posts_path(@post) %></p>
</div>


<div class="bg-post"></div>