.body {
  font-size: 1.5rem;
}

.nav__item a {
  padding: 10px 3rem;
}

.slick-slide img {
  width: 890px;
  height: 450px;
}

ul.sub__ttl {
  display: flex;
  justify-content: space-between;
}

li.user-icon {
  width: 200px;
  aspect-ratio: auto 200 / 200;
  height: 200px;
}
.user-icon_small {
  width: 50px;
  aspect-ratio: auto 50 / 50;
  height: 50px;
}
