$cWhite: white;
$cBlack: black;

/*main*/

body {
  box-shadow: none !important;
  border: none !important;
  background-color: rgb(230, 230, 230) !important;
  margin: auto;
}

/*main-slider*/

.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev,
.slick-next {
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "■" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.full-screen .slick-list {
  overflow: visible;
}
.full-screen.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.section {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
}

.slider {
  display: none;
}
.slider.slick-initialized {
  display: block;
}

/*main-feature*/

.color-gold {
  color: goldenrod;
}

.color-silver {
  color: silver;
}

.color-bronze {
  color: orangered;
}

// .body-main-2 {
//   text-align: center;
//   width: 74%;
//   margin: 0 auto;
//   margin-top: 60px;
//   padding: 40px;
//   border: 1px solid #e1e1e1;
//   background-color: white;
//   border-radius: 5px;
//   box-shadow: 0px 4px 6px #ccc;
// }

// ul.sub__ttl {
//   display: flex;
//   justify-content: space-between;
//   & li {
//     display: inline-block;
//   }
// }

// /*btn*/
// .center {
//   text-align: center;
// }

.nav {
  color: #fff;
  background-color: black;
}

ul {
  color: $cBlack;
  list-style: none;
}

// /* header */

#logo {
  float: left;
  margin-left: 30px;
  font-size: 1.7em;
  color: $cWhite;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.header {
  background-color: $cBlack;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.nav__wrapper {
  display: flex;
}

.nav__item a {
  color: $cWhite;
  display: block;
}

.gnav {
  display: flex;
  height: 2rem;
  padding: 0px;
}

// /*全てのリスト・リンク共通*/

.gnav li {
  list-style: none;
}

.gnav li a {
  background: $cBlack;
  text-decoration: none;
}

/*子階層以降共通*/

.gnav li li {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.gnav li li a {
  border-top: 0px solid #eee;
}

.gnav li:hover > ul > li {
  height: 1.8rem;
  overflow: visible;
}

// /* user-icon */

// .user-icon {
//   width: 100px;
//   height: 100px;
//   border-radius: 100px;
// }

// .user-icon_small {
//   width: 50px;
//   height: 50px;
//   border-radius: 100px;
// }

// .n-circle {
//   position: absolute;
//   padding-left: 1rem;
//   padding-top: 0rem;
//   color: #efa04c;
// }

// /* user show */

// .user__wrapper {
//   height: 100%;
//   width: 100%;
//   // margin-top: 5px;
//   padding: 80px 0;
// }

// .user__show {
//   width: 600px;
//   margin: 0 auto;
//   padding: 20px;
//   border: 1px solid #e1e1e1;
//   background-color: white;
//   border-radius: 5px;
//   box-shadow: 0px 4px 6px #ccc;
// }

// .user__show__top {
//   padding: 20px;
//   margin-left: 40px;
//   height: 120px;
//   display: flex;
// }

// .user__show__bottom {
//   margin-top: 30px;
//   padding: 20px;
//   display: flex;
//   justify-content: space-between;

//   &__name {
//     width: 200px;
//     text-align: center;
//     margin-left: 45px;
//   }

//   &__follow {
//     display: flex;
//     width: 200px;
//     padding-top: 20px;
//     margin: 0 auto;
//     margin-left: 55px;
//     & a {
//       color: $cBlack;
//       text-decoration: none;
//     }
//   }
//   &__status {
//     padding: 15px;
//     border: 1 px solid #e1e1e1;
//     border-radius: 5 px;
//     position: relative;
//     box-shadow: 0px 4px 6px #ccc;
//     &__experience {
//       width: 200px;
//     }
//     &__profile {
//       width: 200px;
//     }
//   }
// }

// .user__show__top__content {
//   margin-left: 50px;
// }

// .user__show__top__content .btn {
//   width: 200px;
//   text-decoration: none;
//   background-color: $cWhite;
//   color: $cBlack;
//   border: 1px solid $cBlack;
//   padding: 10px 40px;
//   margin: 30px 0;
//   font-weight: 600;
//   cursor: pointer;
//   transition: all 0.3s;

//   &.slide-bg {
//     position: relative;
//     overflow: hidden;
//     z-index: 1;

//     & a {
//       text-decoration: none;
//       color: $cBlack;
//     }
//     & span {
//       display: inline-block;
//       width: 100%;
//       height: 100%;
//       background-color: $cBlack;
//       position: absolute;
//       top: 0;
//       left: 0;
//       transform: translateX(-100%);
//       transition: transform 0.3s;
//       z-index: -1;
//     }

//     &:hover {
//       color: $cWhite;

//       & a {
//         text-decoration: none;
//         color: $cWhite;
//       }

//       & span {
//         transform: none;
//       }
//     }
//   }
// }

// .btn__unfollow {
//   width: 200px;
//   text-decoration: none;
//   background-color: gray;
//   color: $cWhite;
//   border: 1px solid gray;
//   padding: 13px 40px;
//   margin: 30px 0;
//   font-weight: 600;
//   cursor: pointer;
//   transition: all 0.3s;
//   border-radius: 5px;
// }

// .btn__follow {
//   width: 200px;
//   text-decoration: none;
//   background-color: skyblue;
//   color: $cWhite;
//   border: 1px solid skyblue;
//   padding: 13px 40px;
//   margin: 30px 0;
//   font-weight: 600;
//   cursor: pointer;
//   transition: all 0.3s;
//   border-radius: 5px;
// }

// .user__show__post {
//   &__index__item {
//     &__user {
//       position: relative;
//       &__name {
//         position: absolute;
//         left: 55px;
//         top: 15px;
//       }
//     }

//     & h3 {
//       display: block;
//       text-align: center;
//     }

//     & a {
//       text-decoration: none;
//       color: black;
//     }
//   }

//   &__index {
//     display: flex;
//     justify-content: space-around;
//     width: 100%;
//     &__item {
//       display: inline-block;
//       width: 750px;
//       padding: 30px;
//       margin: 5% 0;
//       border: 1px solid #e1e1e1;
//       border-radius: 5px;
//       position: relative;
//       box-shadow: 0px 4px 6px #ccc;
//       &__user a {
//         text-decoration: none;
//         color: $cBlack;
//       }
//     }
//   }
// }

// /*タブ切り替え全体のスタイル*/

// .tabs {
//   margin-top: 50px;
//   padding-bottom: 40px;
//   background-color: #fff;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//   width: 900px;
// }

/*タブのスタイル*/

.tab_item {
  width: calc(100% / 2);
  height: 50px;
  border-bottom: 3px solid black;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/

input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/

#all:checked ~ #all_content,
#favorite:checked ~ #favorite_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/

.tabs input:checked + .tab_item {
  background-color: black;
  color: #fff;
}

// /* footer */

// footer {
//   width: 100%;
//   color: $cBlack;
//   text-align: center;
// }

// .footer-menu a {
//   display: inline;
//   color: $cBlack;
//   text-decoration: none;
// }

// /*post*/

// .sysNextSubmit {
//   width: 120px;
//   text-decoration: none;
//   background-color: #556b2f;
//   color: $cWhite;
//   border: 1.5px solid gray;
//   padding: 13px 40px;
//   margin: 30px 0;
//   font-weight: 600;
//   cursor: pointer;
//   transition: all 0.3s;
//   border-radius: 5px;
// }

// .post {
//   text-align: center;
//   & a {
//     text-decoration: none;
//     color: $cBlack;
//   }
// }

// /*user-index*/

// .search {
//   width: 250px;
//   min-height: 500px;
//   height: auto;
//   float: left;
//   margin-top: 10px;
// }

// .user__search {
//   padding-top: 80px;
//   padding-bottom: 20px;
//   justify-content: center;
//   text-align: center;
//   & input {
//     background-color: white;
//     border-style: inset;
//     border-radius: 3px;
//     box-sizing: border-box;
//     padding: 2px;
//   }
// }

// .post__search {
//   justify-content: center;
//   text-align: center;
//   & input {
//     background-color: white;
//     border-style: inset;
//     border-radius: 3px;
//     box-sizing: border-box;
//     padding: 2px;
//   }
// }

/* DM */

.visited_user {
  text-align: right;
  background-color: pink;
  width: fit-content;
  margin: 10px 0 0 auto;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px;
  & a {
    text-decoration: none;
    color: white;
  }
}

.current_user {
  color: black;
  margin: 10px;
  background-color: lightgreen;
  text-align: left;
  width: fit-content;
  margin: 10px auto 0 0;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px;
}

// /* DM*/

// .room-show__form {
//   text-align: center;
//   height: 70px;
//   width: 100%;
//   padding-top: 20px;
//   padding-bottom: 30px;
//   display: flex;
//   border-top: 1px solid #e1e1e1;
//   background-color: #bcbcbc;
//   position: fixed;
//   bottom: 0;
//   &__box {
//     position: relative;
//     margin: 0 auto;
//   }
// }

/* 共通 */
.notifications {
  color: $cWhite;

  .notice {
    text-align: center;
    position: fixed;
    z-index: 100;
    opacity: 1;

    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;

    box-sizing: border-box;

    width: 100%;
    height: 60px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #46a942;
    background-color: #def2de;
    border-color: #ccebdd;
    border: 1px solid;

    animation: fadeout 1s linear 3s 1;
    animation-fill-mode: forwards;
    -webkit-animation: fadeout 1s linear 3s 1;
    -webkit-animation-fill-mode: forwards;
  }

  .alert {
    text-align: center;
    position: fixed;
    z-index: 100;
    opacity: 1;

    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;

    box-sizing: border-box;

    width: 100%;
    height: 60px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid;

    animation: fadeout 1s linear 3s 1;
    animation-fill-mode: forwards;
    -webkit-animation: fadeout 1s linear 3s 1;
    -webkit-animation-fill-mode: forwards;
  }
}

// .common_wrapper {
//   width: 600px;
//   margin: 0 auto;
//   padding: 40px;
//   padding-top: 120px;
//   border: 1px solid #e1e1e1;
//   background-color: white;
//   border-radius: 5px;
//   box-shadow: 0px 4px 6px #ccc;
//   h1 {
//     text-align: center;
//   }
//   & a {
//     text-decoration: none;
//     color: $cBlack;
//   }
// }

// .notice {
//   color: $cBlack;
//   text-align: left;
//   width: fit-content;
//   margin: 10px auto 0 0;
//   padding: 10px;
//   & a {
//     text-decoration: none;
//     color: blue;
//   }
// }

@keyframes fadeout {
  0% {
    opacity: 1;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
  }
  99% {
    opacity: 0;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
  }
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
  }
  99% {
    opacity: 0;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
  }
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

// /* post show */

// .post__show__title__body {
//   display: block;
//   text-align: center;
//   font-size: 30px;
//   font-weight: bold;
//   padding: 30px 0;
// }

// .post__show__content {
//   font-size: 18px;

//   &__favorite {
//     display: flex;
//     justify-content: center;
//     padding: 20px;
//   }
// }

// /* post index */

// .post__wrapper {
//   & a {
//     text-decoration: none;
//     color: $cBlack;
//   }
// }

// .post__index {
//   margin: 0px auto;
//   width: 500px;
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;

//   &__item {
//     display: inline-block;
//     width: 100%;
//     padding: 30px;
//     margin-top: 30px;
//     border: 1px solid #e1e1e1;
//     background-color: white;
//     border-radius: 5px;
//     position: relative;
//     box-shadow: 0px 4px 6px #ccc;
//     & h3 {
//       display: block;
//       text-align: center;
//     }

//     & a {
//       text-decoration: none;
//       color: $cBlack;
//     }
//     &__user {
//       position: relative;
//       &__name {
//         position: absolute;
//         left: 55px;
//         top: 15px;
//       }
//     }

//     &__img {
//       height: 300px;
//       width: 100%;
//       object-fit: cover;
//       margin: 20px 0;
//     }
//   }
// }

// /*Form画面*/

// /* レスポンシブ対応 */

// @media screen and (min-width: 320px) {
//   .body {
//     font-size: 1.4rem;
//   }

//   .nav__item a {
//     padding: 1px 1rem;
//   }

//   .gnav {
//     padding: 3px;
//   }

//   .gnav li:hover > ul > li {
//     height: 2.8rem;
//     overflow: visible;
//   }

//   .slick-slide img {
//     width: 500px;
//     height: 250px;
//   }

//   ul.sub__ttl {
//     display: flex;
//     justify-content: space-between;
//   }

//   .user-icon {
//     width: 100px;
//     height: 100px;
//     border-radius: 100px;
//   }
//   .user-icon_small {
//     width: 50px;
//     height: 50px;
//     border-radius: 100px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .body {
//     font-size: 1.5rem;
//   }

//   .nav__item a {
//     padding: 10px 3rem;
//   }

//   .slick-slide img {
//     width: 890px;
//     height: 450px;
//   }

//   ul.sub__ttl {
//     display: flex;
//     justify-content: space-between;
//   }

//   .user-icon {
//     width: 200px;
//     height: 200px;
//     border-radius: 100px;
//   }
//   .user-icon_small {
//     width: 50px;
//     height: 50px;
//     border-radius: 100px;
//   }
// }
