$cWhite: white;
$cBlack: black;

/*共通*/

body {
  box-shadow: none !important;
  border: none !important;
  background-color: rgb(230, 230, 230) !important;
  margin: auto;
}

.gnav li {
  list-style: none;
}

.gnav li a {
  background: $cBlack;
  text-decoration: none;
}

/*子階層以降共通*/

.gnav li li {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.gnav li li a {
  border-top: 0px solid #eee;
}

.gnav li:hover > ul > li {
  height: 1.8rem;
  overflow: visible;
}

/*スライド*/

.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev,
.slick-next {
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "■" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.full-screen .slick-list {
  overflow: visible;
}
.full-screen.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.section {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
}

.slider {
  display: none;
}
.slider.slick-initialized {
  display: block;
}

/*アチーブメント*/

.color-gold {
  color: goldenrod;
}

.color-silver {
  color: silver;
}

.color-bronze {
  color: orangered;
}

.nav {
  color: #fff;
  background-color: black;
}

ul {
  color: $cBlack;
  list-style: none;
}

/* ヘッダー */

#logo {
  float: left;
  margin-left: 30px;
  font-size: 1.7em;
  color: $cWhite;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.header {
  background-color: $cBlack;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.nav__wrapper {
  display: flex;
}

.nav__item a {
  color: $cWhite;
  display: block;
}

.gnav {
  display: flex;
  height: 2rem;
  padding: 0px;
}

/* DM */

.visited_user {
  text-align: right;
  background-color: pink;
  width: fit-content;
  margin: 10px 0 0 auto;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px;
  & a {
    text-decoration: none;
    color: white;
  }
}

.current_user {
  color: black;
  margin: 10px;
  background-color: lightgreen;
  text-align: left;
  width: fit-content;
  margin: 10px auto 0 0;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px;
}

/* アラート */
.notifications {
  color: $cWhite;

  .notice {
    text-align: center;
    position: fixed;
    z-index: 100;
    opacity: 1;

    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;

    box-sizing: border-box;

    width: 100%;
    height: 60px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #46a942;
    background-color: #def2de;
    border-color: #ccebdd;
    border: 1px solid;

    animation: fadeout 1s linear 3s 1;
    animation-fill-mode: forwards;
    -webkit-animation: fadeout 1s linear 3s 1;
    -webkit-animation-fill-mode: forwards;
  }

  .alert {
    text-align: center;
    position: fixed;
    z-index: 100;
    opacity: 1;

    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;

    box-sizing: border-box;

    width: 100%;
    height: 60px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid;

    animation: fadeout 1s linear 3s 1;
    animation-fill-mode: forwards;
    -webkit-animation: fadeout 1s linear 3s 1;
    -webkit-animation-fill-mode: forwards;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
  }
  99% {
    opacity: 0;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
  }
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
  }
  99% {
    opacity: 0;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
  }
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

/*ページネーション*/

.pagination {
  border: none;
  color: #696969;
}

.pagination * {
  border: none;
  color: #696969;
}

.pagination a:hover {
  border-radius: 10px;
}

.pagination > .page.current {
  color: blue;
}

.pagination > .first,
.last {
  border: none;
  color: #696969;
}

/*プレビュー*/

.preview {
  width: 100%;
  margin: auto;
}

/*タブ*/

.tab-group {
  display: flex;
  justify-content: center;
}
.tab {
  flex-grow: 1;
  padding: 5px;
  list-style: none;
  border: solid 1px #ccc;
  text-align: center;
  cursor: pointer;
}
.panel {
  display: none;
}
.tab.is-active {
  background: $cBlack;
  color: $cWhite;
}
.panel.is-show {
  display: block;
}
