<footer class="footer">
  <small>
    <a>Boditore</a>
    by <a>Sabakantaro</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Post",   '#' %></li>
      <li><%= link_to "Search",   '#' %></li>
      <li><%= link_to "Inform", '#' %></li>
    </ul>
  </nav>
</footer>